/* region common */

:root {
    --discord-primary: #3161e0;
    --discord-dark: #23272a;
    --discord-light: #f6f6f6;
    --discord-lighter: #ffffff;
    --discord-primary-important-things: #8ea1e1;
    --discord-color-text-normal: #434649;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed black; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    overflow-x: hidden;
}

/* end region common */

/* region utilies */
.btn-small {
    cursor: pointer;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: none;
}

#site-header {
    background-color: var(--discord-primary);
    width: 100%;
    position: fixed;
    z-index: 1;
    padding: 10px;
}

.row {
    flex-wrap: wrap;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.square-small {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    max-width: 850px;
    margin: auto;

    color: white;
    padding: 45px 0;
}

.square-60 {
    width: 60%;


    &>img {
        width: 100%;
    }
}

.square-40 {

    width: 40%;
    font-size: 20px;
    color: var(--discord-dark);
    padding: 30px 64px;

    &>img {
        width: 100%;
    }
}

#site-footer {
    background-color: var(--discord-dark);

    &>.container:first-child {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

.grow {
    flex-grow: 1;
}

section {
    padding: 50px;
}

.color-light {
    background-color: var(--discord-light);
}

.color-lighter {
    background-color: var(--discord-lighter);
}

/* end region utilies */

/* region header */

nav {
    align-items: center;
    display: flex;
}

.logo {
    flex-grow: 1;
}

.login {
    flex-grow: 1;
    text-align: end;
}

.sidebar {
    color: white;
    display: flex;
    list-style: none;
    gap: 0.5rem;
    justify-content: center;

    &>* {
        border-bottom: 2px solid transparent;
        cursor: pointer;

        &:hover {
            transition: all 0.3s ease-in-out;
            border-color: var(--discord-lighter);
        }
    }
}

.left {

    align-items: center;
    gap: 10px;

    &>.dropmenu-btn {

        visibility: hidden;
        width: 30px;
        border-radius: 50%;
        aspect-ratio: 1;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--discord-color-text-normal);

        .container-dropmenu {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            background-color: #23272ac8;
            height: 100%;
            font-size: 30px;
            color: var(--discord-lighter);

            &>i {
                text-align: end;
                width: 100%;
                padding: 20px 20px 0;

                &:hover {
                    color: rgb(129, 126, 126);
                }
            }

            &>.dropmenu {
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;

                justify-content: space-around;

                &>* {
                    border-bottom: 2px solid transparent;
                    cursor: pointer;

                    &:hover {
                        transition: all 0.3s ease-in-out;
                        border-color: var(--discord-lighter);
                    }
                }
            }
        }

    }
}

li {
    padding: 0.25rem 0.75rem;
}

/* end region header */

/* region main */

/* region main top */
.reduction {
    width: 100%;


}

.download-discord {

    width: 100%;
    min-height: 700px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    font-weight: 900;
}

p {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}

.btn-big {
    cursor: pointer;
    border-radius: 2rem;
    font-size: 25px;
    padding: 0.75rem 2rem;
    margin-right: 20px;
    border: none;
}

.btn-browser {
    margin-top: 10px;
    background-color: var(--discord-dark);
    color: var(--discord-lighter);
}

.color-font-footer-primary {
    color: var(--discord-primary-important-things);

}

.color-font-footer-secondary {
    color: var(--discord-lighter);

}

/* end region main top */

/* region main central */
h2 {
    font-size: 48px;
}

.wave-divisor {
    display: flex;
    width: 100%;
}

.wave-rotate-180 {
    transform: rotate(180deg);
}

/* end region main central */

/* region main bottom */
#image-big {
    width: 100%;
}

.video-call {
    text-align: center;

}

.position-button {
    margin-top: 40px;
}

h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

.btn-bottom-download {
    background-color: var(--discord-primary-important-things);
    color: var(--discord-lighter);
    font-size: 20px;
    margin-bottom: 50px;
}

#star {
    transform: translateY(+10px);
}

/* end region main bottom */

/* end region main */

/* region footer */

/* region footer top */

/* end region footer top */



.rectangle {
    padding-top: 15px;
}

h4 {
    color: var(--discord-primary-important-things);
    font-size: 36px;
    margin-bottom: 30px;
}

.element {
    width: 30%;
    min-width: 187px;
}

span {
    color: var(--discord-lighter);
}

.language {
    vertical-align: middle;
}

span>img {
    width: 30px;
    vertical-align: middle;
}

#reduction {
    width: 20px;
}

.widget {
    cursor: pointer;

    &>img {
        margin: 30px 15px 0 0;
        width: 20px;
        vertical-align: middle;
        border-bottom: 2px solid transparent;
        padding-bottom: 4px;

        &:hover {
            border-color: var(--discord-lighter);
        }
    }
}



ul>li {
    list-style-type: none;
    color: var(--discord-lighter);
    line-height: 30px;
    font-weight: 500;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--discord-primary-important-things);
    margin-left: 10px;
    cursor: auto;

}

/* region footer bottom */
.footer-bottom {
    border-top: 1px solid var(--discord-primary-important-things);
    padding-top: 50px;
    padding-bottom: 90px;
}

.btn-end {
    text-align: end;
}

.btn-sign-up {
    background-color: var(--discord-primary-important-things);
    color: var(--discord-lighter);
}

/* end region footer bottom */

/* end region footer */

/* region media */
@media (max-width: 1450px) {

    .square-40,
    .square-60 {
        width: 100%;
    }

    .square-small {
        width: 95%;
    }

    .invite-groupe>.container,
    .fandom>.container {
        flex-direction: column-reverse;
    }


}

@media (max-width: 980px) {
    .left>.dropmenu-btn {
        visibility: visible;
    }

    .sidebar {
        display: none;
    }
}

@media (max-width: 700px) {
    section {
        padding: 30px 10px;
    }

    .square-40,
    .square-60 {
        padding: 30px 0 0;
    }

    p {
        padding-top: 20px;
    }

    .container {
        width: 95%;
    }
}

/* end region media */